<template>
  <div>
    <b-table striped hover :items="items" :fields="fields">
      <template #cell(Imagen)="data">
        <span v-html="data.value"></span>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  name: "result",
  props: ["items"],
  data() {
    return {
      fields: ["Imagen", "Titulo", "Descripcion"]
    };
  },
  methods: {},
};
</script>