<template>
  <div>
    <b-form-input
      id="searchVideoInput"
      v-model="value"
      placeholder="Buscar video"
    ></b-form-input>

    <b-button pill id="searchVideoButton" v-on:click="searchVideo(undefined)"
      >Buscar</b-button
    >
    <b-button pill id="clearTextButton" v-on:click="clear()">Limpiar</b-button>
    <result v-if="validaExistenciaItems()" :items="items" />
    <b-button
      pill
      v-if="validaExistenciaItems()"
      id="prevButton"
      v-on:click="prev"
      >Anterior</b-button
    >
    <b-button
      pill
      v-if="validaExistenciaItems()"
      id="nextButton"
      v-on:click="next"
      >Siguiente</b-button
    >
  </div>
</template>

<script>
import RepositoryFactory from "@/repositories/RepositoryFactory";
import Result from "@/components/Result";

const YoutubeRepository = RepositoryFactory.get("youtube");

export default {
  components: {
    result: Result,
  },
  data() {
    return {
      value: "",
      items: [],
      nextToken: "",
      prevToken: "",
    };
  },
  methods: {
    searchVideo(pageToken) {
      this.items = [];
      YoutubeRepository.getResult(this.value, pageToken).then((result) => {
        this.nextToken = result.data.nextPageToken;
        this.prevToken = result.data.prevPageToken;
        result.data.items.forEach((item) => {
          this.items.push({
            Imagen: `<img src="${item.snippet.thumbnails.default.url}">`,
            Titulo: item.snippet.title,
            Descripcion: this.truncateValue(item.snippet.description, 30),
          });
        });
      });
    },
    clear() {
      this.items = [];
      this.value = "";
    },
    truncateValue(value, max) {
      let end = "";
      if (value.length > max) {
        end = "...";
      }
      return value.substring(0, max) + end;
    },
    validaExistenciaItems() {
      return this.items.length > 0;
    },
    next() {
      this.searchVideo(this.nextToken);
    },
    prev() {
      this.searchVideo(this.prevToken);
    },
  },
};
</script>